body {
    text-align: center;
    padding-top: 100px;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
}
button {
    width: 15vw;
    padding: 1vw 2vw;
    cursor: pointer;
    border: none;
    font-size: 16px;
    background-color: rgb(12, 12, 12);
    color: white;
    text-align: center;
    justify-content: center; /* 가로 중앙 정렬 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */ /* 이거닷 */
    border-radius: 5px;
    margin-bottom: 1vw; /* 버튼 간격 조정 */
    transition: all 0.5s ease;
}
button:hover {
    background-color: rgb(184, 177, 177);
    color: rgb(13, 13, 13);
}
@media only screen and (max-width: 768px) {
    button {
      width: 70%; /* 작은 화면에서 전체 너비로 설정 */
      font-size: 2vw; /* 폰트 크기 증가 */
    }
  }
input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#heading { /* 반응형 글씨 */
    font-size: 2vw; /* 화면 너비의 2.5% 크기 */
  }
  
#imageSection {
    margin-top: 20px;
    position: relative;
}
canvas {
    max-width: 400px;
    cursor: crosshair;
    border-radius: 10px;
}
.copyBtn {
    width: 7vw;
}
.copyBtn:hover {
    background-color: rgb(169, 167, 167);
}
@media only screen and (max-width: 768px) {
    .copyBtn {
      width: 30%; /* 작은 화면에서 전체 너비로 설정 */
      font-size: 2vw; /* 폰트 크기 증가 */
    }
  }
#colorPalette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vw;
}
.colorBox {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: Crosshair;
}

@media only screen and (max-width: 768px) {
    .input {
      width: 12vw; /* 작은 화면에서 전체 너비로 설정 */
      font-size: 2%; /* 폰트 크기 증가 */
    }
  }