body {
    text-align: center;
    padding-top: 100px;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
}
button {
    width: 150px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px; /* 버튼 간격 조정 */
    transition: all 0.5s ease;
    
}
button:hover {
    background-color: rgb(184, 177, 177);
    color: rgb(14, 13, 13);
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#imageSection {
    margin-top: 20px;
    position: relative;
}
canvas {
    max-width: 400px;
    cursor: crosshair;
    border-radius: 10px;
}
.copyBtn {
    width: 70px;
}
.copyBtn:hover {
    background-color: rgb(169, 167, 167);
}

#colorPalette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.colorBox {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: Crosshair;
}
#hexInput {
    /* 16 input box */
    width: 150px;

}
#rgbInput {
    /* rgb input box */
    width: 150px;

}