body {
    text-align: center;
    padding-top: 100px;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
}
button {
    width: 180px;
    padding: 1vw 2vw;
    cursor: pointer;
    border: none;
    background-color: rgb(12, 12, 12);
    color: white;
    justify-content: center; /* 가로 중앙 정렬 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */ /* 이거닷 */
    border-radius: 5px;
    margin-bottom: 1vw;
    transition: all 0.5s ease;
    width: clamp(140px, 20vw, 160px);
    min-height: 42px; /* 최소 높이 */
}
button:hover {
    background-color: rgb(184, 177, 177);
    color: rgb(13, 13, 13);
}
@media only screen and (max-width: 768px) {
    button {
      width: 100%; /* 작은 화면에서 전체 너비로 설정 */
    }
  }
input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.text { /* 반응형 글씨 */
    font-size: clamp(18px, 2vw, 24px); /* 최소 14px, 최대 24px */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */ /* 이거닷 */
    min-height: 42px; /* 최소 높이 */

  }  
#imageSection {
    margin-top: 20px;
    position: relative;
}
#changeBgColorButton {
    margin-top: 20px;
}
canvas {
    max-width: 400px;
    cursor: crosshair;
    border-radius: 10px;
}
.copyBtn {
    width: 70px;
    width: clamp(80px, 20vw, 100px); /* 최소 80, 최대 20 */
    min-height: 42px; /* 최소 높이 */
}
.copyBtn:hover {
    background-color: rgb(169, 167, 167);
}
@media only screen and (max-width: 768px) {
    .copyBtn {
      width: 30%; /* 작은 화면에서 전체 너비로 설정 */
    }
  }
#colorPalette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vw;
}
.colorBox {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: Crosshair;
}
@media only screen and (max-width: 768px) {
    .input {
      width: 12vw; /* 작은 화면에서 전체 너비로 설정 */
    }
}